find shape of dataframe

we use df.shape to find shape

In [55]:
import pandas as pd
df = pd.read_csv('data.csv')
result=df.shape
print(result)

(10, 7)

find unique values in city column

we find the unique values using .unique()

In [24]:
unique_cities=df['City'].unique()
print(unique_cities)

['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix' 'Philadelphia'
 'San Antonio' 'San Diego' 'Dallas' 'San Jose']

sort the dataframe by age column in descending order

ascending is False means descending is True

In [25]:
df.sort_values(by='Age',ascending=False)

           Name  Age          City        Date  Sales     Category Region
6  George Clark   37   San Antonio  2024-04-23    861    Groceries  North
1   Bob Johnson   34   Los Angeles  2024-03-12    393      Fashion  North
8    Ian Wright   33        Dallas  2024-01-06    825      Fashion  North
4   Ethan Davis   31       Phoenix  2024-06-29    588    Groceries  North
3   Diana Brown   29       Houston  2024-04-06    249  Electronics  South
0   Alice Smith   28      New York  2024-03-12    621       Health  North
9   Julia Green   27      San Jose  2024-03-05    292       Health  North
5   Fiona White   25  Philadelphia  2024-05-12    927    Groceries   West
7  Hannah Scott   24     San Diego  2024-01-10    793      Fashion   West
2   Charlie Lee   22       Chicago  2024-03-01    840      Fashion   East

check if there are any missing values in dataframe

we check if there are any null values using .isnull().sum()

In [56]:
result=df.isnull().sum()
print(result)

Name        0
Age         0
City        0
Date        0
Sales       0
Category    0
Region      0
dtype: int64

add a new column Country with default value 'USA'

a new column is added using .insert()

In [27]:
df.insert(loc=3,column='Country',value='USA')
df

,Name,Age,City,Country,Date,Sales,Category,Region
0,Alice Smith,28,New York,USA,2024-03-12,621,Health,North
1,Bob Johnson,34,Los Angeles,USA,2024-03-12,393,Fashion,North
2,Charlie Lee,22,Chicago,USA,2024-03-01,840,Fashion,East
3,Diana Brown,29,Houston,USA,2024-04-06,249,Electronics,South
4,Ethan Davis,31,Phoenix,USA,2024-06-29,588,Groceries,North
5,Fiona White,25,Philadelphia,USA,2024-05-12,927,Groceries,West
6,George Clark,37,San Antonio,USA,2024-04-23,861,Groceries,North
7,Hannah Scott,24,San Diego,USA,2024-01-10,793,Fashion,West
8,Ian Wright,33,Dallas,USA,2024-01-06,825,Fashion,North
9,Julia Green,27,San Jose,USA,2024-03-05,292,Health,North

delete the City column from df

.drop() helps in deletion

In [28]:
df.drop('City',axis=1)

           Name  Age Country        Date  Sales     Category Region
0   Alice Smith   28     USA  2024-03-12    621       Health  North
1   Bob Johnson   34     USA  2024-03-12    393      Fashion  North
2   Charlie Lee   22     USA  2024-03-01    840      Fashion   East
3   Diana Brown   29     USA  2024-04-06    249  Electronics  South
4   Ethan Davis   31     USA  2024-06-29    588    Groceries  North
5   Fiona White   25     USA  2024-05-12    927    Groceries   West
6  George Clark   37     USA  2024-04-23    861    Groceries  North
7  Hannah Scott   24     USA  2024-01-10    793      Fashion   West
8    Ian Wright   33     USA  2024-01-06    825      Fashion  North
9   Julia Green   27     USA  2024-03-05    292       Health  North

rename age to years

.rename('x':'y') helps rename x to y

In [29]:
df.rename(columns={'Age':'Years'})

,Name,Years,City,Country,Date,Sales,Category,Region
0,Alice Smith,28,New York,USA,2024-03-12,621,Health,North
1,Bob Johnson,34,Los Angeles,USA,2024-03-12,393,Fashion,North
2,Charlie Lee,22,Chicago,USA,2024-03-01,840,Fashion,East
3,Diana Brown,29,Houston,USA,2024-04-06,249,Electronics,South
4,Ethan Davis,31,Phoenix,USA,2024-06-29,588,Groceries,North
5,Fiona White,25,Philadelphia,USA,2024-05-12,927,Groceries,West
6,George Clark,37,San Antonio,USA,2024-04-23,861,Groceries,North
7,Hannah Scott,24,San Diego,USA,2024-01-10,793,Fashion,West
8,Ian Wright,33,Dallas,USA,2024-01-06,825,Fashion,North
9,Julia Green,27,San Jose,USA,2024-03-05,292,Health,North

filter rows where Age is greater than 30

.loc[] helps in filtering according to our needs

In [30]:
df.loc[df['Age']>30]

           Name  Age         City Country        Date  Sales   Category Region
1   Bob Johnson   34  Los Angeles     USA  2024-03-12    393    Fashion  North
4   Ethan Davis   31      Phoenix     USA  2024-06-29    588  Groceries  North
6  George Clark   37  San Antonio     USA  2024-04-23    861  Groceries  North
8    Ian Wright   33       Dallas     USA  2024-01-06    825    Fashion  North

add a new column Age_Group to classify Age as 'Young'(Age<=30) or 'Old'(Age>30)


we add columns using .insert()

In [31]:
df.insert(loc=4,column='Age_Group',value=['Young' if age<=30 else 'Old' for age in df['Age']])
df

,Name,Age,City,Country,Age_Group,Date,Sales,Category,Region
0,Alice Smith,28,New York,USA,Young,2024-03-12,621,Health,North
1,Bob Johnson,34,Los Angeles,USA,Old,2024-03-12,393,Fashion,North
2,Charlie Lee,22,Chicago,USA,Young,2024-03-01,840,Fashion,East
3,Diana Brown,29,Houston,USA,Young,2024-04-06,249,Electronics,South
4,Ethan Davis,31,Phoenix,USA,Old,2024-06-29,588,Groceries,North
5,Fiona White,25,Philadelphia,USA,Young,2024-05-12,927,Groceries,West
6,George Clark,37,San Antonio,USA,Old,2024-04-23,861,Groceries,North
7,Hannah Scott,24,San Diego,USA,Young,2024-01-10,793,Fashion,West
8,Ian Wright,33,Dallas,USA,Old,2024-01-06,825,Fashion,North
9,Julia Green,27,San Jose,USA,Young,2024-03-05,292,Health,North

calculate mean, median, standard deviation in Age column

we use .mean(), .median() and .mode()

In [32]:
mean=df['Age'].mean()
median=df['Age'].median()
std=df['Age'].std()
print(mean,median,std)

29.0 28.5 4.760952285695233

count unique ocuurences in city column

we use value.counts() function on df

In [33]:
num=df['City'].value_counts()
print(num)

City
New York        1
Los Angeles     1
Chicago         1
Houston         1
Phoenix         1
Philadelphia    1
San Antonio     1
San Diego       1
Dallas          1
San Jose        1
Name: count, dtype: int64

pivot dataframe to show average Age for each City in rows and Country in columns

.pivot_table() is the necessary function here

In [34]:
avg=df.pivot_table(index='City',columns='Country',values='Age',aggfunc='mean')
print(avg)

Country        USA
City
Chicago       22.0
Dallas        33.0
Houston       29.0
Los Angeles   34.0
New York      28.0
Philadelphia  25.0
Phoenix       31.0
San Antonio   37.0
San Diego     24.0
San Jose      27.0

diosplay first 10 rows in df

.head(val) specifies the reqqd no of values

In [35]:
res=df.head(10)
print(res)

           Name  Age          City Country Age_Group        Date  Sales  \
0   Alice Smith   28      New York     USA     Young  2024-03-12    621
1   Bob Johnson   34   Los Angeles     USA       Old  2024-03-12    393
2   Charlie Lee   22       Chicago     USA     Young  2024-03-01    840
3   Diana Brown   29       Houston     USA     Young  2024-04-06    249
4   Ethan Davis   31       Phoenix     USA       Old  2024-06-29    588
5   Fiona White   25  Philadelphia     USA     Young  2024-05-12    927
6  George Clark   37   San Antonio     USA       Old  2024-04-23    861
7  Hannah Scott   24     San Diego     USA     Young  2024-01-10    793
8    Ian Wright   33        Dallas     USA       Old  2024-01-06    825
9   Julia Green   27      San Jose     USA     Young  2024-03-05    292

      Category Region
0       Health  North
1      Fashion  North
2      Fashion   East
3  Electronics  South
4    Groceries  North
5    Groceries   West
6    Groceries  North
7      Fashion   West
8      Fashion  North
9       Health  North

save the dataframe to a new csv file called output.csv

In [36]:
df.rename(columns={'Age':'Years'}).to_csv('output.csv')

use .iloc[], select the first 10 rows and first 3 columns

In [37]:
subset=df.iloc[df.index[:10],:3]
print(subset)

           Name  Age          City
0   Alice Smith   28      New York
1   Bob Johnson   34   Los Angeles
2   Charlie Lee   22       Chicago
3   Diana Brown   29       Houston
4   Ethan Davis   31       Phoenix
5   Fiona White   25  Philadelphia
6  George Clark   37   San Antonio
7  Hannah Scott   24     San Diego
8    Ian Wright   33        Dallas
9   Julia Green   27      San Jose

reverse rows of dataframe using .iloc

this is how we reverse using ::-1 and iloc

In [38]:
reversed_df=df.iloc[::-1]
print(reversed_df)

           Name  Age          City Country Age_Group        Date  Sales  \
9   Julia Green   27      San Jose     USA     Young  2024-03-05    292
8    Ian Wright   33        Dallas     USA       Old  2024-01-06    825
7  Hannah Scott   24     San Diego     USA     Young  2024-01-10    793
6  George Clark   37   San Antonio     USA       Old  2024-04-23    861
5   Fiona White   25  Philadelphia     USA     Young  2024-05-12    927
4   Ethan Davis   31       Phoenix     USA       Old  2024-06-29    588
3   Diana Brown   29       Houston     USA     Young  2024-04-06    249
2   Charlie Lee   22       Chicago     USA     Young  2024-03-01    840
1   Bob Johnson   34   Los Angeles     USA       Old  2024-03-12    393
0   Alice Smith   28      New York     USA     Young  2024-03-12    621

      Category Region
9       Health  North
8      Fashion  North
7      Fashion   West
6    Groceries  North
5    Groceries   West
4    Groceries  North
3  Electronics  South
2      Fashion   East
1      Fashion  North
0       Health  North

create a MultiIndex from columns Category and Region

set_index fxn is used here

In [39]:
df=df.set_index(['Category','Region'])
print(df)

                            Name  Age          City Country Age_Group  \
Category    Region
Health      North    Alice Smith   28      New York     USA     Young
Fashion     North    Bob Johnson   34   Los Angeles     USA       Old
            East     Charlie Lee   22       Chicago     USA     Young
Electronics South    Diana Brown   29       Houston     USA     Young
Groceries   North    Ethan Davis   31       Phoenix     USA       Old
            West     Fiona White   25  Philadelphia     USA     Young
            North   George Clark   37   San Antonio     USA       Old
Fashion     West    Hannah Scott   24     San Diego     USA     Young
            North     Ian Wright   33        Dallas     USA       Old
Health      North    Julia Green   27      San Jose     USA     Young

                          Date  Sales
Category    Region
Health      North   2024-03-12    621
Fashion     North   2024-03-12    393
            East    2024-03-01    840
Electronics South   2024-04-06    249
Groceries   North   2024-06-29    588
            West    2024-05-12    927
            North   2024-04-23    861
Fashion     West    2024-01-10    793
            North   2024-01-06    825
Health      North   2024-03-05    292

select all rows from MultiIndex dataframe where Region is North

df.loc() is used for selection

In [40]:
subset=df.loc[df.index.get_level_values('Region')=='North']
print(subset)

                          Name  Age         City Country Age_Group  \
Category  Region
Health    North    Alice Smith   28     New York     USA     Young
Fashion   North    Bob Johnson   34  Los Angeles     USA       Old
Groceries North    Ethan Davis   31      Phoenix     USA       Old
          North   George Clark   37  San Antonio     USA       Old
Fashion   North     Ian Wright   33       Dallas     USA       Old
Health    North    Julia Green   27     San Jose     USA     Young

                        Date  Sales
Category  Region
Health    North   2024-03-12    621
Fashion   North   2024-03-12    393
Groceries North   2024-06-29    588
          North   2024-04-23    861
Fashion   North   2024-01-06    825
Health    North   2024-03-05    292

swap the levels of MultiIndex and sort new first level

.swaplevel and .sortindex are used for sorting first level

In [41]:
df=df.swaplevel().sort_index()
print(df)

                            Name  Age          City Country Age_Group  \
Region Category
East   Fashion       Charlie Lee   22       Chicago     USA     Young
North  Fashion       Bob Johnson   34   Los Angeles     USA       Old
       Fashion        Ian Wright   33        Dallas     USA       Old
       Groceries     Ethan Davis   31       Phoenix     USA       Old
       Groceries    George Clark   37   San Antonio     USA       Old
       Health        Alice Smith   28      New York     USA     Young
       Health        Julia Green   27      San Jose     USA     Young
South  Electronics   Diana Brown   29       Houston     USA     Young
West   Fashion      Hannah Scott   24     San Diego     USA     Young
       Groceries     Fiona White   25  Philadelphia     USA     Young

                          Date  Sales
Region Category
East   Fashion      2024-03-01    840
North  Fashion      2024-03-12    393
       Fashion      2024-01-06    825
       Groceries    2024-06-29    588
       Groceries    2024-04-23    861
       Health       2024-03-12    621
       Health       2024-03-05    292
South  Electronics  2024-04-06    249
West   Fashion      2024-01-10    793
       Groceries    2024-05-12    927

reset MultiIndex back to regular columns

.reset_index() is used for resetting indices

In [42]:
df=df.reset_index()
print(df)

  Region     Category          Name  Age          City Country Age_Group  \
0   East      Fashion   Charlie Lee   22       Chicago     USA     Young
1  North      Fashion   Bob Johnson   34   Los Angeles     USA       Old
2  North      Fashion    Ian Wright   33        Dallas     USA       Old
3  North    Groceries   Ethan Davis   31       Phoenix     USA       Old
4  North    Groceries  George Clark   37   San Antonio     USA       Old
5  North       Health   Alice Smith   28      New York     USA     Young
6  North       Health   Julia Green   27      San Jose     USA     Young
7  South  Electronics   Diana Brown   29       Houston     USA     Young
8   West      Fashion  Hannah Scott   24     San Diego     USA     Young
9   West    Groceries   Fiona White   25  Philadelphia     USA     Young

         Date  Sales
0  2024-03-01    840
1  2024-03-12    393
2  2024-01-06    825
3  2024-06-29    588
4  2024-04-23    861
5  2024-03-12    621
6  2024-03-05    292
7  2024-04-06    249
8  2024-01-10    793
9  2024-05-12    927

create a pivot table with Region as rows, Category as columns, and sum of values as values

.pivottable is used again

In [43]:
pivot_table=df.pivot_table(index='Region',columns='Category',values='Age',aggfunc='sum')
print(pivot_table)

Category  Electronics  Fashion  Groceries  Health
Region
East              NaN     22.0        NaN     NaN
North             NaN     67.0       68.0    55.0
South            29.0      NaN        NaN     NaN
West              NaN     24.0       25.0     NaN

extract the year, month, day from the Date column and cadd them as new columns

In [44]:
df['year']=pd.to_datetime(df['Date']).dt.year
df['month']=pd.to_datetime(df['Date']).dt.month
df['day']=pd.to_datetime(df['Date']).dt.day
print(df)

  Region     Category          Name  Age          City Country Age_Group  \
0   East      Fashion   Charlie Lee   22       Chicago     USA     Young
1  North      Fashion   Bob Johnson   34   Los Angeles     USA       Old
2  North      Fashion    Ian Wright   33        Dallas     USA       Old
3  North    Groceries   Ethan Davis   31       Phoenix     USA       Old
4  North    Groceries  George Clark   37   San Antonio     USA       Old
5  North       Health   Alice Smith   28      New York     USA     Young
6  North       Health   Julia Green   27      San Jose     USA     Young
7  South  Electronics   Diana Brown   29       Houston     USA     Young
8   West      Fashion  Hannah Scott   24     San Diego     USA     Young
9   West    Groceries   Fiona White   25  Philadelphia     USA     Young

         Date  Sales  year  month  day
0  2024-03-01    840  2024      3    1
1  2024-03-12    393  2024      3   12
2  2024-01-06    825  2024      1    6
3  2024-06-29    588  2024      6   29
4  2024-04-23    861  2024      4   23
5  2024-03-12    621  2024      3   12
6  2024-03-05    292  2024      3    5
7  2024-04-06    249  2024      4    6
8  2024-01-10    793  2024      1   10
9  2024-05-12    927  2024      5   12

filter rows where date is between "2022-01-01" and "2023-01-01"

In [45]:
filtered_df=df.loc[(df['Date']>'2022-01-01') & (df['Date']<'2023-01-01')]
print(filtered_df)

Empty DataFrame
Columns: [Region, Category, Name, Age, City, Country, Age_Group, Date, Sales, year, month, day]
Index: []

convert a column date with string values like "2022-01-01" into pandas datetime objects

In [46]:
df['date']=pd.to_datetime(df['Date'])
print(df)

  Region     Category          Name  Age          City Country Age_Group  \
0   East      Fashion   Charlie Lee   22       Chicago     USA     Young
1  North      Fashion   Bob Johnson   34   Los Angeles     USA       Old
2  North      Fashion    Ian Wright   33        Dallas     USA       Old
3  North    Groceries   Ethan Davis   31       Phoenix     USA       Old
4  North    Groceries  George Clark   37   San Antonio     USA       Old
5  North       Health   Alice Smith   28      New York     USA     Young
6  North       Health   Julia Green   27      San Jose     USA     Young
7  South  Electronics   Diana Brown   29       Houston     USA     Young
8   West      Fashion  Hannah Scott   24     San Diego     USA     Young
9   West    Groceries   Fiona White   25  Philadelphia     USA     Young

         Date  Sales  year  month  day       date
0  2024-03-01    840  2024      3    1 2024-03-01
1  2024-03-12    393  2024      3   12 2024-03-12
2  2024-01-06    825  2024      1    6 2024-01-06
3  2024-06-29    588  2024      6   29 2024-06-29
4  2024-04-23    861  2024      4   23 2024-04-23
5  2024-03-12    621  2024      3   12 2024-03-12
6  2024-03-05    292  2024      3    5 2024-03-05
7  2024-04-06    249  2024      4    6 2024-04-06
8  2024-01-10    793  2024      1   10 2024-01-10
9  2024-05-12    927  2024      5   12 2024-05-12

after grouping by region, filter groups where total sales are >5000

In [53]:
filtered_groups=df.groupby('Region').filter(lambda x:x['Age'].sum()>5000)
print(filtered_groups)

Empty DataFrame
Columns: [Region, Category, Name, Age, City, Country, Age_Group, Date, Sales, year, month, day, date]
Index: []